# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon
# VTK
.vtk

# backup files
.bak

# log files
.log

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

*.asv
*.vtk
fineale/work/in
fineale/try_it.m
fineale/symbolicD.m
fineale/work/out
fineale/profile/HtmlPanel/mwblank1.html
fineale/examples/deformation_nonlinear/statics/hyperelastic/3-d/Squash/squash_thecube-nt10  10  10-H8MSGSO.mat
fineale/examples/deformation_nonlinear/instability/3-d/bathtub_buckling-H8MSGSO-nw9-m1.eps
fineale/examples/deformation_nonlinear/instability/3-d/bathtub_buckling-H8MSGSO-nw9-m2.eps
fineale/examples/deformation_nonlinear/statics/hyperelastic/3-d/Squash/squash_thecube-nt14  14  14-H8MSGSO(U).mat
fineale/examples/deformation_nonlinear/statics/hyperelastic/3-d/Squash/squash_thecube-nt14  14  14-H8MSGSO.mat
fineale/examples/deformation_nonlinear/statics/hyperelastic/3-d/upsetting_block/tryspeed-nt10   5  10-H8MSGSO(U).mat
fineale/examples/heat_diffusion/pencil_and_paper/T3-example-plot.eps
fineale/examples/heat_diffusion/pencil_and_paper/T3-example-plot.fig
fineale/profile/matlab.settings
fineale/profile/MATLABDesktop.xml.prev
*.bak
*.dat
*.rpy